body {
  background-color: #F5F5F5;
  height: 66.7rem;
}
.nav {
  padding: 1.5rem 2rem;
  border-bottom: 0.1rem solid gray;
  background-color: #fff;
}
.nav p {
  font-size: 1.4rem;
  font-weight: 600;
}
body {
  background-color: #F5F5F5;
}
.header {
  height: 17rem;
  background: url(../image/my/bg1.png) no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
}
.header a {
  color: white;
  font-size: 1.4rem;
}
.header .myimg {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .myimg img {
  width: 17%;
}
.header .myimg a {
  margin-top: 3rem;
  color: #f9f5f5;
}
.content {
  background-color: #fff;
  margin-top: 1rem;
  padding: 0 1.5rem;
  border-bottom: 0.1rem solid gray;
}
.content .mylist {
  display: flex;
  flex-direction: column;
}
.content .mylist a {
  font-size: 1.5rem;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid gray;
}
.content .mylist a span:nth-of-type(2) {
  width: 2rem;
  height: 2rem;
  background-color: red;
  background: url(../image/my/right.png) no-repeat 0px 0px;
  background-size: 1rem;
}
.content .mylist a:nth-of-type(3) {
  border: none;
}
