* {
  margin: 0;
  padding: 0;
}
.head {
  width: 100%;
  height: 6rem;
  list-style: none ;
  display: flex;
  background: url(../image/index/logo.jpg) no-repeat 3rem 0.4rem;
  background-size: 16rem 5rem;
  background-color: #FF8A00;
  justify-content: flex-end;
  align-items: center;
}
.head li {
  margin-right: 2rem;
}
.head li img {
  width: 2rem;
  height: 3rem;
}
